* {
	box-sizing: border-box;
}
html, body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 100%;
  background-color: 
}
h1 {
  text-transform: uppercase; 
  font-weight: 900;
}
article {
  max-width: 1000px;
  margin: auto;
}

.img-example {
  max-width: 90%;
  margin: auto;
}

.big-svg {
  display: none;
}

@media screen and (min-width: 730px) {
  .big-svg {
    display: inline-block;
  }
  .small-svg {
    display: none;
  }
}