* {
	box-sizing: border-box;
}
html, body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 100%;
}
h1 {
  text-transform: uppercase; 
  font-weight: 900;
}
article {
  max-width: 1000px;
  margin: auto;
}