<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400,600,700,800" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/main.css">
	<title>Codes &amp; Pictures</title>
</head>
<body>
  <article>
    <h1>Codes &amp; Pictures</h1>
  </article>
  <script src="bower_components/picturefill/dist/picturefill.min.js"></script>
</body>
</html>